*{
    margin: 0;
    padding: 0;
    font-family: monospace;
    overflow-x: hidden;
}
.site-btn{
    /* font-size: 1.7rem; */
    font-weight: 700;
    color: #fff;
    padding: 1rem;
    background-color: #21e027;
    border: 2px solid #21e027;
    font-size: clamp(1rem, 2vw, 1.7rem); 

}
.m-bot{
    margin-bottom: 15px;
}

/* NAV BAR STYLE  */
nav{
    height: max-content;
    background-color: #340623;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .nav-name p{
    color: #fff;
    /* font-family: monospace; */
    font-weight: 800;
    padding-left: 3rem;
    font-size: 3rem;
}
nav .nav-contents {
    display: flex;
    justify-content: end;
    align-items: center;
}
nav .nav-contents ul{
    color: #d5c0cd;
    font-size: 1.7rem;
    list-style: none;
    display: flex;
    justify-content: end;
}
nav .nav-contents ul li:hover{
    color: #21e027;
    text-decoration: underline;
}

nav .nav-contents ul li{
    margin: 2rem;
}
.nav-contents .enroll-btn{
    color: #fff;
    font-size: 1.7rem;
    border: 2px solid white;
    border-radius: none;
    padding: 1rem;
    font-weight: 600;
}
.nav-contents .enroll-btn:hover{
    color: #fff;
    background-color: #21e027;
    border: 2px solid #21e027;
}

/* Hero Section  */
.hero-section{
    /* width: 100%; */
    height: 100vh;
    background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('https://cdn.b12.io/client_media/aofSGhBB/23e87634-aff4-11f0-bb94-0242ac110002-jpg-hero_image.jpeg') center/cover no-repeat;
}
.hero-content .text-1{
    /* font-size: 5rem; */
    font-size: clamp(2rem, 5vw, 5rem);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-weight: 800;
}
.hero-content .text-2{
    font-size: 2rem;
    font-size: clamp(1rem, 1.7vw, 2rem);
    font-family: sans-serif;
    color: white;
}
.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    
}
.hero-content{
    /* padding-left: 20rem; */
    padding-left: 15vw;
}

/* Footer  */
.under-process p{
    color: #fff;
    font-weight: 600;
    text-align: end;
    font-size: 2.8rem;   
    padding: 3rem;
    background-color:#340623 ;
    /* width: 100%; */
}



/* Responsiveness  */
@media (max-width: 1150px) {
    nav {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
      }
}
@media (max-width: 888px) {
    .nav-contents{
        flex-direction: column;
    }
}
@media (max-width: 768px) {
    nav {
      flex-direction: column;
      text-align: center;
      gap: 1rem;
    }
    .nav-contents{
        flex-direction: column;
    }
  
    nav .nav-contents ul {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
      margin-top: 1rem;
    }
  
    nav .nav-contents ul li {
      margin: 0;
      font-size: 1.4rem;
    }
  
    .nav-contents .enroll-btn {
      font-size: 1.4rem;
      padding: 0.6rem 1.2rem;
      margin-top: 5% ;
    }
  
    nav .nav-name p {
      font-size: 2rem;
      padding-left: 0;
    }
  }
  @media (max-width: 768px) {
    .hero-content {
      padding-left: 5rem;
    }
  
    .hero-content .text-1 {
      font-size: rem;
    }
  
    .hero-content .text-2 {
      font-size: 1.6rem;
    }
    .hero-section{
        height: 80vh;
    }
    .site-btn {
      font-size: 1.4rem;
      padding: 0.8rem 1.2rem;
    }
  }
  
  @media (max-width: 480px) {
    .hero-section{
        height: 80vh;
    }
    .hero-content {
      padding-left: 2rem;
    }
  
    .hero-content .text-1 {
      font-size: 3.4rem;
    }
  
    .hero-content .text-2 {
      font-size: 1.4rem;
    }
  }
  @media (max-width: 600px) {
    .under-process p {
      text-align: center;
      font-size: 1.6rem;
      padding: 1.5rem;
    }
  }
      